body {
    background-color: #D6EAF8;
    min-height: 100vh;
}

.tile{

height:130px;

}
.tile:hover{
  background-color: #6D7993;
}

.header-style{
  color:white;
  /*background-color: #21618C;*/
  background-color: navy;
  position: fixed;
  width: 100%;
  z-index: 100;
  line-height: 2;
  height:80px;
  font-size: 32px;
  padding: 10px;

  margin-bottom: 10px;
  vertical-align: middle;
}
.wrapper {
  height: calc(100vh - 50px);
  padding-top: 100px;

}
.wrapper .left-panel{
  height:100vh;
  transition:0.4s ease;
  background-color: #21618C;
  padding: 10px;

}

.right-panel-75{
  width:75%;

}
.right-panel-100{
  width:100%;

}


.listStyle
{

  font-family: sans-serif;
  font-size: 18px;
  font-style: italic;
  list-style: none;
  color:white;
  transition:0.4s ease;

}
#tagItem:hover
{
  color: navy;
  cursor: pointer;
}



.active{
  color:red;
}

.list-group-item{
  line-height: 5;
}

.thumbnail{
  background-color: #21618C;
}



.book-title{
  background-color:skyblue;
  color:white;
}

#menuItem{

  background-color: #2980B9;
  font-size: 20px;
  color:white;
  transition:0.4s ease;
}

#allTitles:hover{
  cursor: pointer;
  background-color: navy;

}
#allTitles{
  background-color: #2980B9;
  font-size: 20px;
  color:white;
  transition:0.4s ease;
}

#tagItem.badge{
  font-size: 18px;
}

.search-bar{
  /*padding-top: 7px;*/
  vertical-align: middle;
  transition:0.4s ease;

  /*height: 50px;
  font-size: 20px;
  color:black;*/

}


#glyph:hover{
  cursor:pointer;
}

#menu-container{
  box-shadow: 0;
  border:0 none;
  transition:0.4s ease;
}

#book-tile:hover{
  background-color: #566573;
}

#book-tile{
  background-color: darkgrey;
}

.menu-header{
  background-color: lightgrey;
  color:#424949;
  font-size: 24px;
}

.graph{
  width:inherit;
  height:auto;
  /*border: solid;*/
  margin: 10px;
}

#dropdown-item:hover{
  cursor: pointer;

}
.graph-button{
  vertical-align: bottom;
  margin-right: 80px;
  margin-top: 10px;
}

.badge{
  margin-right: 5px;
}
