body {
  background-color: black;
  min-height: 100vh;
}

.tile{
padding: 5px;
height: 100px;
border: solid;
text-align: center;
background-color: skyblue;

}
.tile:hover{
  background-color: grey;
}

.header-style{
  color:skyblue;
  background-color: grey;
  border-color: white;
  height: 70px;
  font-size: 32px;
  padding: 10px;
}
.wrapper {
  height: calc(100vh - 50px);
  padding-top: 20px;
}
.wrapper .left-panel{
  background-color: skyblue;
  border: solid;
  height: 100%;
}


.listStyle
{

  font-family: sans-serif;
  font-size: 20px;
  font-style: italic;
}
li:hover
{
  color: red;
  cursor: pointer;
}
